[submodule "submodules/triton-viz"]
	path = submodules/triton-viz
	url = https://github.com/Deep-Learning-Profiling-Tools/triton-viz.git
[submodule "submodules/Liger-Kernel"]
	path = submodules/Liger-Kernel
	url = https://github.com/linkedin/Liger-Kernel.git
[submodule "submodules/FlagGems"]
	path = submodules/FlagGems
	url = https://github.com/FlagOpen/FlagGems.git
[submodule "submodules/TritonBench"]
	path = submodules/TritonBench
	url = https://github.com/thunlp/TritonBench.git
[submodule "submodules/triton"]
	path = submodules/triton
	url = https://github.com/triton-lang/triton.git
